alabaster
argh
argon2-cffi 
asgiref
asn1crypto 
astroid 
astropy
async-generator
atomicwrites
attrs 
autopep8 
Babel 
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref
bcrypt 
beautifulsoup4 
bitarray 
bkcharts
bleach 
bokeh 
boto
Bottleneck
brotlipy
certifi
cffi 
chardet
click
cloudpickle
clyent
cmake
colorama 
comtypes
contextlib2
cycler
cytoolz
dask 
decorator
defusedxml
diff-match-patch 
distributed 
dj-database-url
Django
django-autoslug
django-ckeditor
django-cors-headers
django-crispy-forms
django-extensions
Django-Gtts
django-heroku
django-js-asset
django-widget-tweaks
djangorestframework
dlib
docutils
entrypoints
et-xmlfile
fastcache
filelock
flake8
fsspec
future
gevent
glob2
greenlet 
gTTS
h5py
HeapDict
html5lib 
idna 
imageio 
imagesize
importlib-metadata 
iniconfig 
intervaltree
ipykernel
ipython 
ipython_genutils
ipywidgets 
isort 
itsdangerous
jdcal
jedi 
Jinja2
joblib 
json5
jsonschema 
jupyter
jupyter-client 
jupyter-console 
jupyter-core
jupyterlab
jupyterlab-pygments 
jupyterlab-server 
keyboard
keyring 
kiwisolver 
lazy-object-proxy
libarchive-c
llvmlite
locket
lxml 
MarkupSafe
matplotlib
mccabe
mistune
mock
more-itertools 
mpmath
msgpack
multipledispatch
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose
notebook 
numba
numexpr
numpydoc 
olefile
opencv-contrib-python
openpyxl 
packaging
pandocfilters 
paramiko 
parso
partd
path 
pathlib2
pathtools
patsy
pep8
pexpect
pickleshare
Pillow 
pkginfo
plotly
pluggy
ply
prometheus-client
prompt-toolkit 
psutil 
pycodestyle
pycosat
pycparser 
pydocstyle 
pyflakes
Pygments 
pylint 
PyNaCl 
pyodbc
pyOpenSSL 
pyparsing
pypiwin32
pyreadline
pyrsistent 
PySocks
pytest
python-dateutil
python-jsonrpc-server 
python-language-server 
pyttsx3
pytz
PyWavelets 
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
QtAwesome 
qtconsole
QtPy
regex 
requests 
rope 
Rtree
ruamel_yaml
scikit-image
scikit-learn 
scipy 
seaborn 
Send2Trash
simplegeneric
singledispatch  
sip
six 
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx 
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
sqlparse
statsmodels
sympy
tables
tblib 
tenacity
terminado
testpath
threadpoolctl 
tifffile
toml 
toolz 
tornado
tqdm 
traitlets 
typing-extensions 
ujson
unicodecsv
urllib3 
watchdog 
wcwidth 
webencodings
Werkzeug
whitenoise
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wrapt
xlrd
XlsxWriter 
xlwings
xlwt
xmltodict
yapf 
zict
zipp 
zope.event
zope.interface 
